.home_header {
    height: calc(100vh - 7.5rem);
    max-width: 1350px;
    margin: 0 auto;
    
    .home_header-title-btn {
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: relative;
        align-items: center;
        padding-top: 2rem;

        h1, h2 {
            margin: 0;
            font-family: $font-base;
            font-weight: 400;
            color: $color-dark-grey;
            margin-top: 1.5rem;
        }

        h1 {
            font-size: 2rem;
        }

        h2{
            font-weight: 300;
            width: 50rem;
            text-align: center;
            line-height: 1.6;
        }

        .home_header-image {
        background-image: url("https://iv.pl/images/132d45befc76ee9c4e7ed0f6cbb8f25b.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(97vh - 7.5rem);
        width: 77vw;
        position: absolute;
        z-index: -1;
        }

        Button {
            margin: 2rem;
        }
    }
}

.home_header-btn-start {
    width: 20rem;
    height: 3rem;
}