.home_four_steps {
    height: 100vh;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

    .home_four_steps-title {
        display: flex;
        flex-direction: column;
        height: 20vh;
        justify-content: center;
    }

    h2 {  
        font-size: 3rem;
        font-family: $font-alt;
        text-transform: uppercase;
    }

    .home_steps {
        height: 45vh;
    }

    .home_steps-btn-start {
        width: 20rem;
        height: 5rem;
        align-self: center;
        margin-top: 6rem;
    }
}

.home_steps-list {
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 11rem 0;
    background-color: #F2E8CF;
    color: $color-dark-grey;
    width: 100vw;
    height: 100%;
    font-size: 0.888rem;

    .home_steps-list-item {
        width: 11rem;
        display: flex;
        flex-direction: column;
    }

    .item_title {
        font-size: 1rem;
        padding: 1rem 0;
        position: relative;
        height: 4rem;

        &::before {
            content: '';
            height: 83px;
            width: 83px;
            color: $color-dark-grey;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            bottom: 4rem;
            left: 3rem;
        }

        &::after {
            content: '';
            position: absolute;
            height: 0.5px;
            border: 0.5px solid $color-dark-grey;
            width: 5rem;
            bottom: 0;
            left: 3rem;
        }
    }

    .first_step::before {         
            background-image: url('../../assets/Icon-1.svg'); 
        }
    .second_step::before {         
            background-image: url('../../assets/Icon-2.svg');
        }
    .third_step::before {         
            background-image: url('../../assets/Icon-3.svg');
        }
    .fourth_step::before {         
            background-image: url('../../assets/Icon-4.svg');
        }
    

    p {
        margin-top: 1rem;
    }
}