.home_four_steps {
    height: 100vh;
    background-color: #fff;
    width: 100%;

    h2 {
        height: 20vh;
        padding-top: 3.75rem;
        text-align: center;
        font-size: 3rem;
        background-color: #ffffa9;
    }
}