.home_header {
    height: calc(100vh - 6.5rem);
    max-width: 1500px;
    margin: 0 auto;
    background-color: #fff;
    
    .home_header-title-btn {
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: relative;
        align-items: center;
        padding-top: 2rem;

        h1, h2 {
            margin: 0;
            font-family: $font-base;
            font-weight: 400;
            color: $color-dark-grey;
            margin-top: 1.2rem;
        }

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-weight: 300;
            width: 37rem;
            text-align: center;
            line-height: 1.6;
        }

        .home_header-image {
        height: 80vh;
        max-width: 80vw;
        position: absolute;
        z-index: 1;
        top: 3rem;

        @media (min-width: 1500px) and (min-device-height: 749px) {
            height: 85vh;
            top: 1.5rem;
        }
        }

        Button {
            margin: 1rem;
        }
    }
}

.home_header-btn-start {
    width: 20rem;
    height: 3rem;
    z-index: 2;
}

.ui.olive.button, .ui.olive.buttons  { 
    background-color: $color-base;
}